# what are tuples?

## Tuple is collection of immutable heterogeneous python objects..

###    x =====>  (1, 89, 'A' ,'Hey', 'O' ,'B')
### Indices===>  0  1    2     3        4    5

In [1]:
emp = ()
print(type(emp))

<class 'tuple'>

In [2]:
print(emp)

()

#### * tuple is created by having one element was completely valid without brackets when we give comma after a element

In [4]:
city = "Pune",

In [6]:
type(city)
city

('Pune',)

In [8]:
city = ("Pune")
city

'Pune'

In [9]:
city = ("Pune",)
city

('Pune',)

In [10]:
city = ("pune","Bangalore","Delhi","Mumbai")
city

('pune', 'Bangalore', 'Delhi', 'Mumbai')

In [12]:
list1 = [1,2,3,4,5]
tuple1 = (1,2,3,4,5)
list1.append(5)
print(list1)

[1, 2, 3, 4, 5, 5]

In [13]:
tuple1.append(5)

AttributeError: 'tuple' object has no attribute 'append'

## Differences between tuples and lists
### ==> List is mutable whereas tuple is immutable
### ==> List uses square brackets. tuples may or may not parenthesis

In [14]:
print(city)

('pune', 'Bangalore', 'Delhi', 'Mumbai')

In [16]:
city[1]

'Bangalore'

In [17]:
city[-1]

'Mumbai'

# Concatenation

In [18]:
print(city)

('pune', 'Bangalore', 'Delhi', 'Mumbai')

In [19]:
num = 1,2,3,4

In [20]:
print(city+num)

('pune', 'Bangalore', 'Delhi', 'Mumbai', 1, 2, 3, 4)

# Nesting

In [21]:
nest = (city,num)

In [22]:
print(nest)

(('pune', 'Bangalore', 'Delhi', 'Mumbai'), (1, 2, 3, 4))

# Repetition

In [23]:
rep = ("Python",)*5
rep

('Python', 'Python', 'Python', 'Python', 'Python')

In [24]:
rep = ("Python",)
print(rep*10)

('Python', 'Python', 'Python', 'Python', 'Python', 'Python', 'Python', 'Python', 'Python', 'Python')

In [25]:
rep

('Python',)

# slicing

In [26]:
num

(1, 2, 3, 4)

In [27]:
num[1:]

(2, 3, 4)

In [28]:
num[:-1]

(1, 2, 3)

In [29]:
num[::-1]

(4, 3, 2, 1)

# Unpacking

In [30]:
tuple("Python Learning")

('P', 'y', 't', 'h', 'o', 'n', ' ', 'L', 'e', 'a', 'r', 'n', 'i', 'n', 'g')

In [31]:
print(num)

(1, 2, 3, 4)

In [32]:
a,b,c,d = num

In [33]:
print(a,b,c,d)

1 2 3 4

In [34]:
a,*b,c = num

In [35]:
print(a,b,c)

1 [2, 3] 4

# Deleting tuple

In [36]:
tuple1 = (1,2,3,4)
print(tuple1)

(1, 2, 3, 4)

In [37]:
del tuple1

In [38]:
print(tuple1)

NameError: name 'tuple1' is not defined

# Built in Functions

In [39]:
num1 = (3,4,2,2,2,3,4,5,6,2,1,3,4)

In [40]:
num1.count(3)

3

In [41]:
sum(num1)

41

In [42]:
len(num1)

13

In [43]:
max(num1)

6

In [44]:
min(num1)

1

# converting list to tuple

In [45]:
lst = [1,2,3,4]
print(type(lst))

<class 'list'>

In [46]:
tpl = tuple(lst)

In [47]:
print(tpl)

(1, 2, 3, 4)

In [48]:
type(tpl)

tuple

# Nesting tuples in a list

In [49]:
lst = [(1,2,3),(4,5,6)]

In [50]:
print(lst)

[(1, 2, 3), (4, 5, 6)]

In [51]:
lst.append(("Tuple","Inside","list"))

In [52]:
print(lst)

[(1, 2, 3), (4, 5, 6), ('Tuple', 'Inside', 'list')]

In [53]:
lst.remove((1,2,3))

In [54]:
print(lst)

[(4, 5, 6), ('Tuple', 'Inside', 'list')]

# Nesting Lists in tuple

In [55]:
tpl =(['a','b','c'],['d','e','f'])

In [56]:
print(tpl)

(['a', 'b', 'c'], ['d', 'e', 'f'])

In [57]:
tpl[0].append('z')

In [58]:
print(tpl)

(['a', 'b', 'c', 'z'], ['d', 'e', 'f'])

In [59]:
tpl[0].remove('z')

In [60]:
print(tpl)

(['a', 'b', 'c'], ['d', 'e', 'f'])

In [61]:
tpl.append(['x','y','z'])
print(tpl)

AttributeError: 'tuple' object has no attribute 'append'